.cell {
    width: 40px;
    height: 40px;
    background: #A4B8FF;
    border: solid 1px #EDF1FF;
    &:hover {
        cursor: pointer;
        background: #033AFF;
    }
    &:active {
        background: #426bff;
    }
    &.opened {
        background: #EDF1FF	 center no-repeat;
        text-align: center;
        text-justify: auto;
        font-size: 30px;
    }
    &.launched {
        background: #A4B8FF center no-repeat;
        background-image: url('../../assets/redFlag.png');
        background-size: 35px 35px;
    }
    &.detonated {
        background: red center no-repeat;
        background-image: url('../../assets/blackMine.jpg');
        background-size: 35px 35px;
        margin: auto;
    }
}

.row {
    display: flex;
    flex-direction: row;
}